# Ingeniería de Datos en Python

## Laboratorio 1

Objetivos Especificos: 
- Conectarse a las diversas Bases de Datos (BD).
- Extraer informacion de cada BD.
- Unir los datos en una sola BD.

A continuación, se presenta la conexión a PostgreSQL.

In [27]:
import psycopg2 as ps
import pandas as pd

pg_credenciales = {
    'dbname':'peliculas',
    'user':'postgres',
    'password':'inexcelsisdeo',
    'host':'localhost',
    'port':5432
}

pg_conexion = ps.connect( **pg_credenciales )
pg_cursor = pg_conexion.cursor()

In [28]:
sql = """
    SELECT cliente_id cliente, SUM(cantidad) valor_total 
    FROM pagos
    GROUP BY cliente_id
    ORDER BY valor_total DESC;
"""

pg_df = pd.read_sql(sql, pg_conexion)
print(pg_df)

     cliente  valor_total
0        148       211.55
1        526       208.58
2        178       194.61
3        137       191.62
4        144       189.60
..       ...          ...
594      110        49.88
595      320        47.85
596      248        37.87
597      281        32.90
598      318        27.93

[599 rows x 2 columns]

A continuación, la conexión a SQL Server.

In [29]:
import pyodbc as po

sql_credenciales = (
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=OMARJCM\SQLSERVER20219;'
    'DATABASE=NORTHWND;'
    'UID=sa;'
    'PWD=inexcelsisdeo;'
)

sql_conexion = po.connect( sql_credenciales )
sql_cursor = sql_conexion.cursor()

In [30]:
sql = """
    SELECT ord.CustomerID cliente, ROUND( SUM( od.Quantity * (od.UnitPrice * (1 - od.Discount)) ), 2) valor_total
    FROM Orders ord INNER JOIN [Order Details] od ON (ord.OrderID = od.OrderID)
    GROUP BY ord.CustomerID
    ORDER BY valor_total DESC
"""

sql_df = pd.read_sql(sql, sql_conexion)
print(sql_df)

   cliente  valor_total
0    QUICK    110277.31
1    ERNSH    104874.98
2    SAVEA    104361.95
3    RATTC     51097.80
4    HUNGO     49979.91
..     ...          ...
84   GALED       836.70
85   NORTS       649.00
86   LAUGB       522.50
87   LAZYK       357.00
88   CENTC       100.80

[89 rows x 2 columns]

In [32]:
sql_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   cliente      89 non-null     object
 1   valor_total  89 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.5+ KB

In [33]:
pg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   cliente      599 non-null    int64
 1   valor_total  599 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 9.5 KB

In [24]:
transacciones = pd.concat([pg_df, sql_df])
print(transacciones)

   cliente  valor_total
0      148       211.55
1      526       208.58
2      178       194.61
3      137       191.62
4      144       189.60
..     ...          ...
84   GALED       836.70
85   NORTS       649.00
86   LAUGB       522.50
87   LAZYK       357.00
88   CENTC       100.80

[688 rows x 2 columns]

In [25]:
transacciones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 688 entries, 0 to 88
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   cliente      688 non-null    object
 1   valor_total  688 non-null    float64
dtypes: float64(1), object(1)
memory usage: 16.1+ KB

In [34]:
pg_cursor.close()
pg_conexion.close()

sql_cursor.close()
sql_conexion.close()